@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: MinionPro;
  font-display: swap;
  src: url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.wrapper {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

img {
  vertical-align: top;
}

.body {
  height: 100%;
  line-height: 1;
  color: #000;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

form {
  margin: 0;
}

ul {
  list-style: none;
}

.header__wrapper {
  width: 100%;
  height: 1080px;
  padding-top: 125px;
  background: linear-gradient(180deg, rgba(16, 15, 13, 0.5) -3.66%, rgba(16, 9, 0, 0) 34.49%), linear-gradient(90deg, #000000 0.7%, rgba(0, 0, 0, 0) 67.99%), linear-gradient(0deg, #020100 2.64%, rgba(2, 1, 0, 0.45) 17.92%, rgba(16, 9, 0, 0) 27.22%), url("../img/header_bg.png") no-repeat center/cover;
}
.header__container {
  position: relative;
  padding: 0px 23px;
}
.header__form {
  position: absolute;
  right: 0px;
  bottom: 30px;
  display: flex;
  align-items: center;
}
.header__form_input {
  width: 330px;
  height: 45px;
  padding: 0px 55px 0px 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 74px;
}
.header__btn {
  position: relative;
  right: 55px;
  top: 5px;
  background: none;
}
.header__block {
  height: 57px;
  background: rgba(196, 81, 77, 0.8);
}
.header__menu {
  align-items: center;
  color: white;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #E9D3B0;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E9D3B0;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 57px;
}
.menu__link:hover {
  text-decoration: underline;
}

.item__time {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 44.3%;
  letter-spacing: 0.05em;
}
.item__email {
  padding-left: 30px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 117.8%;
  letter-spacing: 0.05em;
}
.item__logo {
  padding-top: 25px;
}
.item__tel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 253px;
  padding-right: 30px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 117.8%;
}
.item__icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stop--scroll {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .burger {
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
  }

  .header__menu {
    display: block;
    position: fixed;
    left: 0;
    top: 182px;
    padding: 30px 30px;
    width: 80%;
    max-width: 300px;
    height: calc(100vh - 182px);
    max-height: 240px;
    background-color: rgba(196, 81, 77, 0.8);
    transform: translateX(-150%);
    transition: transform 0.6s ease-in-out;
    overflow-y: auto;
  }
  .header__menu--visible {
    transform: none;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
    padding: 0px;
  }
  .menu__link {
    font-size: 20px;
  }

  .item__tel {
    width: 220px;
  }

  .item__logo {
    display: none;
  }
}
.services {
  padding-top: 108px 0px 140px 0px;
  background: #020100;
  color: #E9D3B0;
}
.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services__title {
  font-family: Minion Pro;
  font-size: 51px;
  line-height: 119.38%;
}
.services__subtitle {
  padding: 83px 0px 109px 0px;
  max-width: 830px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 154.88%;
  letter-spacing: 0.04em;
}
.services__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.services__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 33px 0px;
  width: 160px;
  height: 227px;
}

.colortext {
  color: #D24E44;
}

.card__icon {
  padding: 15px 0px 0px 0px;
  width: 118px;
  height: 118px;
  background: #A44B4C;
  border-radius: 50%;
}
.card__text {
  font-family: Minion Pro;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
}
.card__grill {
  padding-left: 20px;
}
.card__bus {
  padding-top: 30px;
  padding-left: 20px;
}
.card__apron {
  padding-left: 20px;
}

@media (max-width: 670px) {
  .services__discription {
    align-items: flex-start;
    text-align: start;
  }
  .services__cards {
    max-width: 400px;
  }
}
@media (max-width: 548px) {
  .services__discription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
  .services__title {
    font-size: 30px;
  }
  .services__subtitle {
    padding: 29px 0px 31px 0px;
    font-size: 16px;
  }
  .services__cards {
    max-width: 290px;
  }
  .services__card {
    justify-content: space-between;
    width: 99.57px;
    height: 135.24px;
  }

  .card__icon {
    width: 73.54px;
    height: 73.54px;
  }
  .card__meat img {
    width: 89.76px;
  }
  .card__grill img {
    width: 71.05px;
  }
  .card__bus img {
    width: 67.93px;
  }
  .card__apron img {
    width: 65.44px;
  }
  .card__text {
    font-size: 16.2px;
    line-height: 20px;
  }
}
.footer {
  background: #000000;
  height: 100%;
  color: #E9D3B0;
}
.footer__container {
  padding-top: 75px;
}
.footer__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  font-family: Minion Pro;
  font-size: 35px;
  line-height: 119.38%;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 56px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 192px;
  height: 188px;
}
.footer__menu {
  display: flex;
  flex-direction: row;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  margin-right: auto;
  padding: 0px 0px 0px 140px;
}
.footer__search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 410px;
  height: 185px;
  margin: 0px 0px 0px 0px;
}
.footer__subtitle {
  font-family: Minion Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 119.38%;
  letter-spacing: 0.115em;
  text-transform: uppercase;
  padding: 0px 0px 0px 15px;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 159px;
  padding: 0px 0px 0px 15px;
}
.footer__icon img {
  width: 23.04px;
  height: 23.04px;
}
.footer__container2 {
  border-top: 1px solid #C4C4C4;
  margin-top: 118px;
  padding: 22px 0px 22px 0px;
}

.title__border {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 192px;
}
.contacts__item {
  font-family: Gilroy;
  font-style: normal;
  font-size: 18px;
  line-height: 44.3%;
  letter-spacing: 0.05em;
  color: #E9D3B0;
}
.contacts_tel {
  font-weight: 600;
  font-size: 22px;
  color: #D24E44;
}
.contacts__item:hover {
  color: #D24E44;
}

.nav__item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 117.8%;
  letter-spacing: 0.05em;
  color: #E9D3B0;
}
.nav__item:hover {
  color: #D24E44;
}

.form__search_label {
  position: relative;
  width: 153px;
  top: 10px;
  left: 37px;
  font-family: Minion Pro;
  font-size: 17.6353px;
  line-height: 119.38%;
  /* identical to box height, or 21px */
  text-align: center;
  letter-spacing: 0.03em;
  background: #020100;
  background-size: contain;
  padding: 0px 10px 0px 10px;
}
.form__search_input {
  width: 100%;
  height: 50px;
  background-color: #000000;
  border: 1px solid #E9D3B0;
  border-radius: 118.65px;
  color: #E9D3B0;
  padding: 0px 20px 0px 20px;
  align-self: baseline;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}
.copyright__text {
  font-family: Minion Pro;
  font-size: 13px;
  line-height: 19px;
  color: #DDDDDD80;
  padding-right: 35px;
}
@media (max-width: 929px) {
  .footer__nav {
    margin: 0px;
    padding: 0px;
  }
}
@media (max-width: 790px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer__search {
    padding: 20px 0px 0px 0px;
  }
}
@media (max-width: 548px) {
  .footer__title {
    font-size: 30px;
  }
}
@media (max-width: 390px) {
  .footer {
    flex-flow: column;
  }
  .footer__content {
    order: 1;
  }
  .footer__nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 105px;
    order: 3;
    padding: 30px 0px 0px 0px;
  }
  .footer__search {
    height: 100%;
    order: 2;
    height: 82px;
  }
  .footer__subtitle {
    display: none;
  }
  .footer__icons {
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 130px;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
  }
  .footer__icon img {
    width: 39.98px;
    height: 39.98px;
  }

  .copyright {
    align-items: center;
    height: 58.25px;
  }
  .copyright__text {
    padding-right: 0px;
  }
}