//@import "..node_modules/swiper/swiper.min.css";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
//@import "../../node_modules/swiper/modules/scrollbar/scrollbar.scss";
@import "fonts";

*,
*::before,
*::after{   
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.wrapper{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}
img{
    vertical-align: top;
}

.body{
    height: 100%;
    line-height: 1;
    color: #000;
}

._container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

form{
    margin: 0;
}

ul{
    list-style: none;
}


//------Header------------------------------------------
.header {
    // .header__wrapper
    &__wrapper {
        width: 100%;
        height: 1080px;
        padding-top: 125px;
        background: linear-gradient(180deg, rgba(16, 15, 13, 0.5) -3.66%, rgba(16, 9, 0, 0) 34.49%), linear-gradient(90deg, #000000 0.7%, rgba(0, 0, 0, 0) 67.99%), linear-gradient(0deg, #020100 2.64%, rgba(2, 1, 0, 0.45) 17.92%, rgba(16, 9, 0, 0) 27.22%), url("@img/header_bg.png") no-repeat center / cover;
    }
    // .header__container
    &__container {
        position: relative;
        padding: 0px 23px;
    }
    // .header__form
    &__form {
        position: absolute;
        right: 0px;
        bottom: 30px;
        display: flex;
        align-items: center;
    }
    // .header__input
    &__form_input {
        width: 330px;
        height: 45px;
        padding: 0px 55px 0px 30px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 74px;
    }
    // .header__btn
    &__btn {
        position: relative;
        right: 55px;
        top: 5px; 
        background: none;
        border: none;
        stroke: #000000BF;
        cursor: pointer;
        
    }
    // .header__block
    &__block {
        height: 57px;
        background: rgba(196, 81, 77, 0.8);
    }
    &__logo {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__logo img {
        width: 284px;
        height: 160px;
    }
    // .header__menu
    &__menu {
        align-items: center;
        color: white;
    }
    &__icons {
        position: absolute;
        top: 429px;
        //transform: translateY(50%);
        left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 149px;
        width: 23px;
        z-index: 5;
    }
    &__icons img {
        width: 23px;
        height: 23px;
    }
}
.burger {
    position: relative;
    width: 30px;
    height: 20px;
    display: none;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    &__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: #E9D3B0;
        transform: translateY(-50%);
        transition: opacity 0.3s ease-in-out;
    }
    
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E9D3B0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s;
}
.burger::before {
    top: 0;
}
.burger::after{
    bottom: 0;
    
}
.burger--active .burger__line {
    opacity: 0;
}
.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
}
.burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}
.menu {
    // .menu__list
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        height: 57px;
    }
    // .menu__item
    &__item {
        
    }
    &__link:hover {
        text-decoration: underline;
    }
}
.item {
    // .item__time
    &__time {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 44.3%;
        letter-spacing: 0.05em;
    }
    // .item__email
    &__email {
        padding-left: 30px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 117.8%;
        letter-spacing: 0.05em;
        padding-right: 421px;
    }
    // .item__logo
    // &__logo {
    //     padding-top: 25px;
    // }
    // .item__tel
    &__tel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 253px;
        padding-right: 30px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 117.8%;
    }
    // .navbar__icons
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 80px;
    }
}

.stop--scroll {
    overflow: hidden;
}



.swiper {
    padding-top: 178px;
    //margin-top: 131px;
    width: 100%;
    height: 100%;
    //border: 1px solid #E9D3B0;
    //background-color: #525252;
    padding-bottom: 31px;
    color: #fff;
    &-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Minion Pro';
        font-size: 80px;
        line-height: 95px;
        text-align: center;
        letter-spacing: 0.075em;
        text-transform: uppercase;
    }
    &-wrapper {
    }
    &-text {
        width: 760px;
    }
    &-btn {
        margin-top: 61px;
        width: 236px;
        height: 56px;
        border: none;
        background-color: #C4504C;
        border-radius: 7px;
        color: #fff;
        font-family: 'Gilroy';
        font-size: 18px;
        line-height: 117.8%;
        letter-spacing: 0.05em;
    }
    &-btn:hover {
        border: 1px solid #fff;
    }
    &-pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // position: absolute;
        // top: 600px;
    }
    &-pagination-bullet {
        
        border-radius: 0;
        width: auto;
        height: 30px;
        text-align: center;
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 18px;
        opacity: 1;
        background: none;
    }
    &-pagination-bullet-active {
        color: #D24E44;
    }
    &-scrollbar {
        margin: 141px 0px 31px 0px;
        height: 1px;
        background-color: #fff;
    }
    &-scrollbar-drag{
        cursor: pointer;
        height: 1px;
        background-color: #C4504C;
    }
}

@media(max-width: 1200px) {
    .burger {
        display: block;
        position: absolute;
        top: 36px;
        left: 30px;
    }
    .header {
        &__menu {
            margin-bottom: 178px;
            //--header-height: 182px
            display: block;
            position: fixed;
            left: 0;
            //top: var(--header-height);
            top: 182px;
            padding: 30px 30px;
            width: 80%;
            max-width: 300px;
            height: calc(100vh - 182px);
            max-height: 240px;
            //height: 240px;
            background-color: rgba(196, 81, 77, 0.8);;
            transform: translateX(-150%);
            transition: transform 0.6s ease-in-out;
            z-index: 1000;
            overflow-y: auto;
        }
        &__menu--visible {
            transform: none;
        }
        &__form_input {
            display: none;
            width: 20px;
        }
        &__form_input--visible {
            display: block;
            position: absolute;
            bottom: 25px;
            right: 10px;
            width: 200px;
            height: 40px;
            font-size: 18px;
            background-color: #000;
            color: #E9D3B0;
            transition-property: color, transform, padding-left, padding-right;
            transition-duration: 0.2s, 0.3s, 0.5s, 0.5s;
            transition: width 0.6s ease-in-out;
            cursor: pointer;
        }
        &__btn {
            top: -25px;
            right: 24px;
            height: 20px;
        }
        &__btn svg{
            width: 30px;
            height: 30px;
            stroke: #E9D3B0;
        }
    }
    .menu {
        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
        &__item {
            
        }
        &__item:not(:last-child) {
            margin: 0px 0px 30px 0px;
            padding: 0px;
        }
        &__link {
            font-size: 20px;
        }
    }
    .item {
        &__tel {
            width: 220px;
        }
    }
    // .menu__list {
    //     justify-content: center;
    // }
    .item__time, 
    .item__email, 
    .item__tel, 
    .item__icons {
    }
    .item__logo {
        //display: none;
    }
    .swiper {
        padding-top: 178px;
        //display: none;
    }
}

@media(max-width: 767px) {
    .header {
        &__wrapper {
            padding-top: 119px;
            height: 521px;
        }
        
        &__form_input--visible {
            display: block;
            top: -25px;
            width: 300px;
            height: 40px;
            transition-property: color, transform, padding-left, padding-right;
            transition-duration: 0.2s, 0.3s, 0.5s, 0.5s;
            cursor: pointer;
        }
        &__btn {
            top: -20px;
            right: 24px;
            height: 20px;
        }
        &__btn svg{
            width: 30px;
            height: 30px;
            stroke: #E9D3B0;
        }
        &__logo {
            top: 105px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__logo img {
            width: 115px;
            height: 65px;
        }
        &__block {
            height: 25px;
        }
        &__icons {
            display: none;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        &-text {
            width: 100%;
            font-size: 30px;
            line-height: 36px;
        }
        &-btn {
            width: 197px;
            height: 43px;
            font-size: 16px;
        }
        &-pagination {
            display: none;
        }
        &-scrollbar {
            display: none;
        }
    }
}

//------Services------------------------------------------

.services {
    height: 100%;
    padding-top: 108px 0px 140px 0px;
    background: #020100;
    color:#E9D3B0;
    // .services__container
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // .services__discription
    &__discription {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    // .services__title
    &__title {
        font-family: Minion Pro;
        font-size: 51px;
        line-height: 119.38%;
    }
    // .services__subtitle
    &__subtitle {
        padding: 83px 0px 109px 0px;
        max-width: 830px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 154.88%;
        letter-spacing: 0.04em;
    }
    // .services__cards
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    // .services__card
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 33px 0px;
        width: 160px;
        height: 227px;
    }
}
.colortext {
    color:  #D24E44;
}
.card {
    // .card__icon
    &__icon {
        padding: 15px 0px 0px 0px;
        width: 118px;
        height: 118px;
        background: #A44B4C;
        border-radius: 50%;
    }
    // .card__meat
    &__meat {

    }
    // .card__text
    &__text {
        font-family: Minion Pro;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.05em;
    }
    // .card__grill
    &__grill {
        padding-left: 20px;
    }
    // .card__bus
    &__bus {
        padding-top: 30px;
        padding-left: 20px;
    }
    // .card__apron
    &__apron {
        padding-left: 20px;
    }
}

// @media(max-width: 920px){
//     .services
//     {
//         &__discription{
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             text-align: start;
//         }
//         &__title{
//             font-size: 30px;
//         }
//         &__subtitle {
//             font-size: 16px;
//         }
//     }
// }

@media(max-width: 767px){
    .services
    {
        &__discription {
            align-items: flex-start;
            text-align: start;
        }
        &__cards {
            max-width: 400px;
        }
    }
}

@media(max-width: 548px){
    .services
    {
        &__discription {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
        }
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            padding: 29px 0px 31px 0px;
            font-size: 16px;
        }
        &__cards {
            max-width: 290px;
        }
        &__card {
            justify-content: space-between;
            width: 99.57px;
            height: 135.24px;
        }
        
    }
    .card{
        &__icon {
            width: 73.54px;
            height: 73.54px;
        }
        &__meat img {
            width: 89.76px;
        }
        &__grill img {
            width: 71.05px;
        }
        &__bus img {
            width: 67.93px;
        }
        &__apron img {
            width: 65.44px;
        }
        &__text {
            font-size: 16.2px;
            line-height: 20px;
        }
    }
}

//------Catalog------------------------------------------




//------Footer------------------------------------------

.footer {
    background: #000000;
    height: 100%;
    color: #E9D3B0;
    // .footer__container
    &__container {
        padding-top: 75px;
    }
    // .footer__title
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 700px;
        font-family: Minion Pro;
        font-size: 35px;
        line-height: 119.38%;
    }
    // .footer__content
    &__content {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 2fr;
        // grid-template-rows: fit-content(192px);
        // grid-column-gap: 120px;
        // margin-top: 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 56px;
    }
    // .footer__contacts
    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 192px;
        height: 188px;
    }
    // .footer__menu
    &__menu {
        display: flex;
        flex-direction: row;
    }
    // .footer__nav
    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
        margin-right: auto;
        padding: 0px 0px 0px 140px;
    }
    // .footer__search
    &__search {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 410px;
        height: 185px;
        margin: 0px 0px 0px 0px;
    }
    // .footer__subtitle
    &__subtitle {
        font-family: Minion Pro;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 119.38%;
        letter-spacing: 0.115em;
        text-transform: uppercase;
        padding: 0px 0px 0px 15px;
    }
    // .footer__icons
    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 159px;
        padding: 0px 0px 0px 15px;
    }
    // .footer__icon
    &__icon img {
        width: 23.04px;
        height: 23.04px;
    }
    // .footer__container2
    &__container2 {
        border-top: 1px solid #C4C4C4;
        margin-top: 118px;
        padding: 22px 0px 22px 0px;
    }
}
.title {
    &__border {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px 0px 0px 20px;
        //border-bottom: 0.5px solid #FFFFFF;
    }
}

.contacts {
    // .contact__list
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 192px;
    }
    &__item {
        font-family: Gilroy;
        font-style: normal;
        font-size: 18px;
        line-height: 44.3%;
        letter-spacing: 0.05em;
        color: #E9D3B0;
    }
    &_tel {
        font-weight: 600;
        font-size: 22px;
        color: #D24E44;
    }
    &__item:hover {
        color: #D24E44;
    }
}
.nav {
    // .nav_catalog
    &_catalog {

    }
    // .nav_sales
    &_sales {
    }
    // .nav_certificate
    &_certificate {
    }
    // .nav_gallery
    &_gallery {
    }
    // .nav__item
    &__item {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 117.8%;
        letter-spacing: 0.05em;
        color: #E9D3B0;
    }
    &__item:hover {
        color: #D24E44;
    }
}
.form {
    // .form__search
    &__search {
        // .form__search_label
        &_label {
            position: relative;
            width: 153px;
            top: 10px;
            left: 37px;
            font-family: Minion Pro;
            font-size: 17.6353px;
            line-height: 119.38%;
            /* identical to box height, or 21px */

            text-align: center;
            letter-spacing: 0.03em;
            background: #020100;
            background-size: contain;
            padding: 0px 10px 0px 10px;
        }
        // .form__search_input
        &_input {
            width: 100%;
            height: 50px;
            background-color: #000000;
            border: 1px solid #E9D3B0;
            border-radius: 118.65px;
            color: #E9D3B0;
            padding: 0px 20px 0px 20px;
            align-self: baseline;
        }
    }
}

.copyright {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    // .copyright__text
    &__text {
        font-family: Minion Pro;
        font-size: 13px;
        line-height: 19px;
        color: #DDDDDD80;
        padding-right: 35px;
    }
    // .copyright__logo
    &__logo {
    }
}

@media(max-width: 929px){
    .footer {
        &__nav {
            margin: 0px;
            padding: 0px;
        }
    }
}

@media(max-width: 790px){
    .footer {
        &__content {
            max-width: 50%;
        }
        &__search {
            padding: 20px 0px 0px 0px;
        }
    }
}
@media(max-width: 767px){
    .footer {
        &__content {
            order: 1;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 100%;
        }
        &__nav {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            height: 105px;
            order: 3;
            padding-top: 30px;
        }
        &__search {
            height: 100%;
            order: 2;
            height: 82px;
        }
        &__subtitle {
            display: none;
        }
        &__icons {
            padding-top: 0px;
            position: relative;
            top: 130px;
            //right: 50%;
            //transform: translateX(50%);
            justify-content: space-around;
            align-items: center;
            max-width: 100%;
        }
        &__icon img {
            width: 39.98px;
            height: 39.98px;
        }
        &__title {
            font-size: 30px;
        }
    }
    .copyright {
        align-items: center;
        height: 58.25px;
        //padding-left: 0px 0px 0px 0px;
        &__text {
            padding-right: 0px;
        }
    }
}